/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body {
        font-family: Verdana, sans-serif;
        font-size: 14px;
}
h2 {
        font-size: 16px;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
}
.container {
        margine: 20px auto;
}
.href {
        border-width: 1px;
        border-style: solid;
        border-color: #444;
        border-radius: 3px;
        line-height: 2.5em;
        padding: 3px;
        margin: 3px;
        white-space: nowrap;
        background: white;
}
.href:hover {
        background: lemonchiffon;
}
a:any-link {
        color: #000;
        text-decoration: none;
        cursor: auto;
}
#graph_canvas {
        width: 500px;
        height: 500px;
}
